// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!

//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

* {
    box-sizing: border-box;
}

button.btn {
    background-color: #fff;
    background-image: none;
    border: 1px solid #407ca0;
    border-radius: 1.5625rem;
    color: #407ca0;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: inherit;
    font-family: inherit;
    font-size: 0.8125rem;
    line-height: 1.33333;
    margin: 0;
    margin-left: 5px;
    min-width: 150px;
    overflow: visible;
    padding: 6px 25px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.25s ease-in, border 0.25s ease-in,
        color 0.25s ease-in;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    -webkit-appearance: button;
}

button.btn:first-child {
    margin-left: 0;
}

button.btn:hover {
    background-color: #fff;
    border-color: #3d4051;
    color: #3d4051;
}

button.btn.btn-lg {
    border-radius: 1.5625rem;
    font-size: 0.8125rem;
    line-height: 1.33333;
}

button.btn.btn-primary {
    background-color: #407ca0;
    border-color: #407ca0;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
}

button.btn.btn-danger {
    color: #fff;
    background-color: darkred;
    border-color: darkred;
    box-shadow: none;
}

button.btn.compact {
    min-width: initial;
}

button.btn.close {
    background: transparent;
    border: 0;
    padding: 0;
    -moz-appearance: none;
}

button.btn.disabled,
button.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
}

button.btn.btn-primary.disabled:hover,
button.btn.btn-primary[disabled]:hover {
    background: #b7babc;
    border-color: #b7babc;
    color: #fff;
}

button.btn.wizardHeader__cancel {
    border: hidden;
    color: #989998;
    font-weight: 700;
}

button.btn.wizardHeader__cancel:hover,
button.btn.wizardHeader__cancel:active {
    background-color: transparent;
}

button.btn.text {
    background-color: transparent;
    border: 0;
    color: #407ca0;
    display: inline;
    font-weight: 700;
    padding: 0;
    text-decoration: none;
}

button.btn:hover {
    text-decoration: none;
}

button.btn.btn-primary:hover {
    background-color: #3d4051;
    border-color: #3d4051;
    color: #fff;
}
